<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="welcome">Jump To Main</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="game">Game</a></li>
        <li><a href="games/new">newgame</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CRUD <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="customers">Customers</a></li>
            <li><a href="products">Products</a></li>
            <li><a href="onepackages">Packages</a></li>
            <li><a href="sales">Sales</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calculations <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="customercal">Customers</a></li>
            <li><a href="productcal">Products</a></li>
            <li><a href="onepackagecal">Packages</a></li>
            <li><a href="salescal">Sales</a></li>
          </ul>
        </li>
                <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relationships <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="customerrel">Customers</a></li>
            <li><a href="productrel">Products</a></li>
            <li><a href="onepackagerel">Packages</a></li>
            <li><a href="salesrel">Sales</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>